@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat-SemiBoldItalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(249, 249, 249);
}

.directions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.directions__title {
  margin-top: 142px;
  margin-bottom: 72px;
  color: rgb(22, 119, 189);
  font-family: Montserrat-Regular;
  font-weight: 600;
  font-size: 70px;
  line-height: 112px;
}

.directions__cards {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card__1 {
  background-color: rgb(31, 180, 122);
  max-width: 530px;
  border-radius: 20px;
  padding: 30px;
}

.card__title {
  margin-top: 13px;
  margin-bottom: 35px;
  color: rgb(255, 255, 255);
  font-family: Montserrat-Regular;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}

.card__text {
  color: rgb(255, 255, 255);
  font-family: Montserrat-Regular;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
}

.card__title-2 {
  margin-top: 35px;
  color: rgb(255, 255, 255);
  font-family: Montserrat-Bold;
  font-weight: 800;
  font-size: 25px;
  line-height: 33px;
}

.card__2 {
  background-color: rgb(241, 117, 168);
  max-width: 530px;
  border-radius: 20px;
  padding: 30px;
}

.directions__btn {
  margin-top: 20px;
}

.signup__btn {
  background-color: rgb(251, 221, 41);
  color: rgb(22, 119, 189);
  font-family: Montserrat-Medium;
  font-size: 50px;
  padding: 25px 30px;
  text-decoration: none;
  border-radius: 60px;
}

.teachers {
  padding: 140px 75px;
}

.teachers__title {
  margin-bottom: 35px;
  font-family: Montserrat-SemiBold;
  font-size: 70px;
  text-align: left;
  color: #1677BD;
}

.teachers__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 30px;
}

.card__teacher {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 390px;
  height: 850px;
  padding: 15px;
  background-color: rgba(198, 231, 218, 0.5);
  border-radius: 25px;
}

.card__teacher:nth-of-type(1) {
  flex: 1 250px;
}

.card__teacher:nth-of-type(2) {
  flex: 1 250px;
}

.card__teacher:nth-of-type(3) {
  flex: 1 250px;
}

.teachers__pic {
  width: 345px;
  height: 493px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.teachers__name {
  margin: 10px 0 15px;
  font-family: Montserrat-Regular;
  font-size: 28px;
}

.teachers__introduction1 {
  margin-bottom: 15px;
  padding-left: 10px;
  font-family: Montserrat-Regular;
  font-size: 20px;
  text-align: left;
}

.teachers__introduction2 {
  margin-bottom: 15px;
  padding-right: 10px;
  font-family: Montserrat-Regular;
  font-size: 20px;
  text-align: left;
}

.teachers__introduction3 {
  margin-right: 80px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Montserrat-Regular;
  font-size: 20px;
  text-align: left;
}

.more__introduction1 {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Montserrat-Regular;
  font-size: 20px;
  text-align: left;
}

.more__introduction2 {
  margin-right: 19px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Montserrat-Regular;
  font-size: 20px;
  text-align: left;
}

.more__introduction3 {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Montserrat-Regular;
  font-size: 20px;
  text-align: left;
}

.promo {
  font-family: Montserat-medium;
  padding-left: 5%;
}

.promo__title {
  color: rgb(22, 119, 189);
  padding-top: 15%;
  padding-bottom: 5%;
  font-weight: 600;
  font-size: 70px;
}

.promo__maintext-first {
  font-size: 55px;
  line-height: normal;
}

.promo__maintext-second {
  font-size: 55px;
  padding-top: 5%;
  line-height: normal;
}/*# sourceMappingURL=style_index.css.map */