// Шрифты
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-SemiBoldItalic;
    src: url(../fonts/Montserrat-SemiBoldItalic.ttf);
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(249, 249, 249, 1);
    display: flex;
    justify-content: center;
}






// Раздел "Направления" с карточками
.directions {
    max-width: 1696px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.directions__title {
    margin-top: 142px;
    margin-bottom: 72px;
    color: rgba(22, 119, 189, 1);
    font-family: Montserrat-SemiBold;
    font-weight: 600;
    font-size: 70px;
    line-height: 112px;
}
.directions__cards {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
}
.card__title {
    margin-top: 13px;
    margin-bottom: 35px;
    font-family: Montserrat-SemiBold;
    font-size: 30px;
}
.card__text {
    font-family: Montserrat-SemiBold;
    font-size: 30px;
}
.card__title-2 {
    margin-top: 35px;
    font-family: Montserrat-ExtraBold;
    font-size: 30px;
}
.card__1, .card__5 {
    background-color: rgba(31, 180, 122, 1);
    max-width: 530px;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 24px;
}
.card__2, .card__6 {
    background-color: rgba(241, 117, 168, 1);
    max-width: 530px;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 24px;
}
.card__3, .card__4 {
    background-color: #70C7E3;
    max-width: 530px;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 24px;
}

// Кнопка "Записаться на бесплатное занятие" из раздела "Направления"
.directions__btn {
    display: flex;
    justify-content: center;
}
.signup__btn {
    background-color: rgba(251, 221, 41, 1);
    color: rgba(22, 119, 189, 1);
    font-family: Montserrat-Medium;
    font-size: 50px;
    padding: 25px 30px;
    text-decoration: none;
    border-radius: 60px;
}

// Раздел "Акции"
.promo{
    font-family: Montserrat-Regular;
    padding-left: 5%;

}
.promo__title{
    color: rgba(22, 119, 189, 1);
    padding-top: 15%;
    padding-bottom: 5%;
    font-weight: 600;
    font-size: 70px;
}
.promo__maintext-first{
    font-size: 55px;
    line-height:normal;

}
.promo__maintext-second{
    font-size: 55px;
    padding-top: 5%;
    line-height:normal;
}
.maintext__bold{
    font-family: Montserrat-SemiBold;
}