// Шрифты
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-SemiBoldItalic;
    src: url(../fonts/Montserrat-SemiBoldItalic.ttf);
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main{
    width: 100%;
}

// ХЭДЕР
.site-container {
    min-height: 100%; /* Минимальная высота равна 100% */
     display: flex;
    flex-direction: column; /* Колонный флекс */
    justify-content: space-between; /* Распределение пространства */
    font-family: Montserrat-SemiBold;
    }
   
   .background-container1 {
     background-image: url("./assets/pictures/headerbackground.png");
     background-size: cover;
     background-repeat: no-repeat;
     padding-bottom: 0px; /* Добавил отступ снизу */
   }
   .header {
     padding: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: transparent;
   }
   .logo-container img {
     display: flex;
     width: 230px;
   }
   .navigation1 {
     display: flex;
     margin: 25px 25px;
     text-decoration: none;
   }
   .navigation1 a {
     display: flex;
     text-decoration: none;
     font-weight: 100;
     color: #1576bd;
     margin-right: 10px;
     font-size: 25px;
     padding: 20px;
   }
   .navigation1 a:hover {
    text-decoration: underline;
    color: #1576bd;
   }
   .no-underline, .no-underline:hover, .no-underline:visited {
    text-decoration: none;
    font-weight: 100;
    display: flex;
    font-size: 24px;
    color: #1576bd;
    white-space: nowrap;
    }
   
   .contact-icons {
     display: flex;
     align-items: center;
     margin-bottom: 30px;
     text-decoration: none;
   }
   .icon-links {
     display: flex;
     margin-right: 10px;
     align-items: center;
     
   }
   .icon-links img {
     width: 24px;
     height: 24px;
     margin-right: 20px;
   }
   .container {
     display: flex;
     justify-content: space-between; /* Распределение контента по ширине */
     padding: 20px;
     background-color: transparent;
     font-size: 30px;
   }
   .text-section {
     width: 50%; /* Задаем ширину текстового блока */
     padding: 20px;
     color: #1572c2;
   }
   .text-section h1 {
     font-size: 30px; /* Увеличенный размер для заголовка */
     text-transform: uppercase; /* Преобразование текста в верхний регистр */
   }
   .text-section h2 {
     font-size: 20px; /* Увеличенный размер для заголовка */
     text-transform: uppercase; /* Преобразование текста в верхний регистр */
   } 
   
   .image-section {
     width: 50%; /* Задаем ширину блока с изображением */
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .image-section img {
     max-width: 60%; /* Уменьшаем изображение, чтобы оно не выходило за пределы своего блока */
     height: auto;
     border-radius: 10px; /* Добавление закругленных углов */
   }
   .button-container {
     text-align: center; /* Выравниваем кнопку по центру */
     padding: 20px; /* Добавляем отступ сверху и снизу для кнопки */
   }
   .free-lesson-button {
     background-color: #fbdd29;
     color: #1576bd;
     text-decoration: none;
     padding: 20px 40px;
     border-radius: 20px;
     display: inline-block; /* Для центрирования кнопки */
     font-size: 30px;
   }


// Раздел "Направления" с карточками
// Под ширину экрана 1900px
.directions {
    max-width: 1696px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 2rem;
}
.directions__title {
    margin-top: 8rem;
    margin-bottom: 5rem;
    color: rgba(22, 119, 189, 1);
    font-family: Montserrat-SemiBold;
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 7rem;
}
.directions__cards {
    font-family: Montserrat-SemiBold;
    font-size: 1.8rem;
    margin-bottom: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 1);
    line-height: 2.2rem;
}
.card__box {
    max-width: 530px;
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 1.6rem;
}
.card__title {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
}
.card__text {
    margin-bottom: 2rem;
    p {
        margin-top: 2.2rem;
    }
}
.card__list {
    padding-left: 2rem;
}
.card__title-2 {
    margin-top: 2.2rem;
    font-family: Montserrat-ExtraBold;
}
#card__1, #card__5 {
    background-color: rgba(31, 180, 122, 1);
}
#card__2, #card__6 {
    background-color: rgba(241, 117, 168, 1);
}
#card__3, #card__4 {
    background-color: #70C7E3;
}

// Кнопка "Записаться на бесплатное занятие" из раздела "Направления"
.directions__btn {
    display: flex;
    justify-content: center;
}
.signup__btn {
    background-color: rgba(251, 221, 41, 1);
    color: rgba(22, 119, 189, 1);
    font-family: Montserrat-Medium;
    font-size: 3.1rem;
    padding: 1.6rem 1.8rem;
    text-decoration: none;
    border-radius: 60px;
}

@media screen and (max-width: 1442px) {
    .directions {
        max-width: 1274px;
    }
    .directions__title {
        margin-top: 5rem;
        margin-bottom: 3rem;
        font-size: 3.4rem;
    }
    .directions__cards {
        font-size: 1.3rem;
        margin-bottom: 1.25rem;
        line-height: 2rem;
    }
    .card__box {
        max-width: 396px;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        img {
            width: 21.8rem;
            object-fit: cover;
        }
    .card__list {
        padding-left: 1.5rem;
    }    
    .card__title {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .card__text {
        margin-bottom: 2rem;
        p {
            margin-top: 2rem;
        }
    }
    .card__title-2 {
        margin-top: 2rem;
    }
    }

    // Кнопка "Записаться на бесплатное занятие" из раздела "Направления"
    .signup__btn {
        font-size: 2.1rem;
        padding: 1.6rem 1.8rem;
    }
}

@media screen and (max-width: 1026px) {
    .directions {
        max-width: 858px;
    }
    .directions__title {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        font-size: 2.3rem;
    }
    .directions__cards {
        font-size: 1.3rem;
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }
    .card__box {
        max-width: 254px;
        padding: 1rem;
        margin-bottom: 1rem;
        img {
            width: 13.8rem;
            object-fit: cover;
        }
    .card__list {
        padding-left: 1rem;
    }    
    .card__title {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .card__text {
        margin-bottom: 1rem;
        p {
            margin-top: 1rem;
        }
    }
    .card__title-2 {
        margin-top: 2rem;
    }
    }

    // Кнопка "Записаться на бесплатное занятие" из раздела "Направления"
    .directions__btn {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .signup__btn {
        font-size: 1.7rem;
        padding: 1.3rem 1.5rem;
    }
}

@media screen and (max-width: 426px) {
    .directions {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
    }
    .directions__title {
        max-width: 100%;
        margin-top: 1.6rem;
        margin-bottom: 1.2rem;
        font-size: 2.3rem;
        padding-left: 1rem;
    }
    .directions__cards {
        max-width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }
    .card__box {
        max-width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        img {
            width: 14.8rem;
            object-fit: cover;
        }
    .card__list {
        padding-left: 1rem;
    }    
    .card__title {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .card__text {
        margin-bottom: 1rem;
        p {
            margin-top: 1rem;
        }
    }
    .card__title-2 {
        margin-top: 2rem;
    }
    }

    // Кнопка "Записаться на бесплатное занятие" из раздела "Направления"
    .directions__btn {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .signup__btn {
        margin: 0.1rem;
        font-size: 1.1rem;
        padding: 1rem 1.2rem;
    }
}

// Раздел "Педагоги"
.teachers {
    padding: 140px 75px;
}

.teachers__title {
    margin-bottom: 35px;
    font-family: Montserrat-SemiBold;
    font-size: 70px;
    text-align: left;
    color: #1677BD;
}

.teachers__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    column-gap: 10px;
    row-gap: 30px;
}

.card__teacher {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 390px;
    height: 850px;
    padding: 15px;
    background-color: rgb(198, 231, 218, 0.5);
    border-radius: 25px;
}

.card__teacher:nth-of-type(1) {
    flex: 1 250px;
}

.card__teacher:nth-of-type(2) {
    flex: 1 250px;
}

.card__teacher:nth-of-type(3) {
    flex: 1 250px;
}

.teachers__pic {
    width: 345px;
    height: 493px;
    object-fit: cover;
    border-radius: 25px;
}

.teachers__name {
    margin: 10px 0 15px;
    font-family: Montserrat-Regular;
    font-size: 28px;
}

.teachers__introduction1 {
    margin-bottom: 15px;
    padding-left: 10px;
    font-family: Montserrat-Regular;
    font-size: 20px;
    text-align: left;
}

.teachers__introduction2 {
    margin-bottom: 15px;
    padding-right: 10px;
    font-family: Montserrat-Regular;
    font-size: 20px;
    text-align: left;
}

.teachers__introduction3 {
    margin-right: 80px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Montserrat-Regular;
    font-size: 20px;
    text-align: left;
}

.more__introduction1 {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Montserrat-Regular;
    font-size: 20px;
    text-align: left;
}

.more__introduction2 {
    margin-right: 19px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Montserrat-Regular;
    font-size: 20px;
    text-align: left;
}

.more__introduction3 {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Montserrat-Regular;
    font-size: 20px;
    text-align: left;
}

@media screen and (max-width: 426px) {
    .teachers {
        width: 100%;
        margin: 0 auto;
        padding: 60px 5px;
    }

    .teachers__title {
        max-width: 100%;
        margin-bottom: 35px;
        padding-left: 5px;
        font-size: 45px;
        text-align: center;
    }

    .teachers__cards {
        max-width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }

    .card__teacher {
        max-width: 300px;
        height: 680px;
        padding: 15px;
    }

    .teachers__pic {
        width: 250px;
        height: 350px;
    }

    .teachers__name {
        font-size: 20px;
    }

    .teachers__introduction1, .teachers__introduction2, .teachers__introduction3 {
        font-size: 18px;
    }

    .teachers__introduction1 {
        padding-left: 5px;
        margin-right: 60px;
    }

    .teachers__introduction2 {
        padding-left: 3px;
    }

    .teachers__introduction3 {
        width: 250px;
        margin-left: 57px;
    }

    .more__introduction1, .more__introduction2, .more__introduction3 {
        font-size: 18px;
    }

    .more__introduction1 {
        padding-left: 7px;
    }

    .more__introduction2 {
        margin-right: 1px;
        padding-left: 2px;
    }
}


// Отзывы - слайдер
.feedbacks {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 126px;
    min-height: 40rem;
    background-color: rgb(198, 231, 218, 0.5);
}

.feedbacks__title {
    margin: 50px 0 50px 5%;
    color: rgba(22, 119, 189, 1);
    font-family: Montserrat-SemiBold;
    font-weight: 600;
    font-size: 70px;    
}

.slider {    
    max-width: 1920px;
    height: 230px;
    overflow: hidden;
}

.navigation {
    position: absolute;
    bottom: 5rem;
    right: 15%;
    display: flex;
    transform: translateX(-50%)
}

.bar {
    height: 40px;
    width: 40px;
    margin: 5px;
    cursor: pointer;
    background-image: url(/assets/images/feedback/Arrow-prewiev.svg);
    transition:all .4s ease;
}

.bar_next {
    background-image: url(/assets/images/feedback/Arrow-next.svg);
}  

.bar:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 200%;  
    display: flex;  
}

.slide {
    display: flex;  
    width: 50%;
    transition: all 1.1s ease;
}

.slide__img {
    display: flex;
    justify-content: center;  
    gap: 20px;
    width: 100%;  
}

.slide__img img {  
    width: 30%; 
    max-width: 650px;
    max-height: 230px; 
    border-radius: 20px;    
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -50%;
}



// Раздел "Акции"
.promo{
    font-family: Montserrat-Regular;
    
    padding-top: 5%;

}
.promo__image-background{
    background-image: url(/assets/pictures/promo.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;}

.promo__title{
    color: rgba(22, 119, 189, 1);
    font-family: Montserrat-SemiBold;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    font-weight: 600;
    font-size: 70px;
}
.promo__maintext-first{
    font-size: 55px;
    line-height:50px;
    padding-left: 5%;

}
.promo__maintext-second{
    font-size: 55px;
    padding-top: 3%;
    line-height:50px;
    padding-left: 5%;
    padding-bottom: 15%;
}
.maintext__bold{
    font-family: Montserrat-SemiBold;
}

// Раздел "Контакты"
.contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 15%;
}
.contacts__title
{
    font-family: Montserrat-SemiBold;
    color:rgba(22, 119, 189, 1);
    padding-bottom: 5%;
    font-size:70px;

}
.contacts__adress
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 48%;
    padding-left: 10%;
}
.contacts__map
{
    margin-left: 4%;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-right: 15%;

}
.contacts__photo{
    width: 654px;
    height: 431px;
}

.contacts__adress-titles{
    font-family: Montserrat-SemiBold;
    color:rgb(7, 7, 7);
    font-size: 40px;
    padding-bottom: 5%;
}
.contacts__adress-main{
    font-family: Montserrat-SemiBold;
    color:rgb(7, 7, 7);
    font-size: 30px;
    padding-bottom: 5%;
}


// media

@media screen and (max-width: 1024px) {
    .feedbacks {
        height: 65rem;
    } 

    .feedbacks__title {            
        font-size: 60px;
    }
  
    .slides {
        height: 100%;
    }  
  
    .slider {      
        height: 40rem;
        overflow: hidden;
    }
  
    .slide__img {
        flex-direction: column;
        align-items: center;
    }
  
    .slide__img img {
        min-width: 500px;  
        height: 30%;
    }
  }
  
  @media screen and (max-width: 520px) {
    .feedbacks__title {
        font-size: 50px;
    }
    .slide__img img {
        min-width: 340px;  
        height: 30%;
    }
  }


//   ФУТЕР
.footer {
    background-color: #1572c2;
    color: white;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat-SemiBold;
    font-size: 30px;
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    
  }
   .contact-icons img {
    width: 46px;
    height: 46px;
    margin-right: 1rem;
  }
  .icon-links {
    margin-left: 4rem;
  }
  .footer a {
    color: white;
    text-decoration: none;
  }
//   .footer a:hover {
//     text-decoration: underline;
//   }
  